In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

In [2]:
df = pd.read_excel('../input/airline/Case data.xlsx')

df.columns

Index(['schd_dep_date', 'flight_number', 'reg', 'fleet_family', 'sub_fleet',
       'sched_dep_iata', 'dep_country', 'dep_region', 'sched_arr_iata',
       'arr_region', 'std_z', 'std_z_date', 'std_z_date_time',
       'sta_z_date_time', 'etd_z_date_time', 'eta_z_date_time', 'atd_z',
       'atd_z_date', 'atd_z_date_time', 'ata_z_date_time', 'sched_block',
       'actual_block', 'block_difference', 'std_z_weekend', 'std_z_monthyear',
       'std_z_year', 'sta_z_weekend', 'distance', 'flight_type',
       'flight_category', 'prim_dly', 'prim_c', 'prim_c_desc', 'dly1', 'c1_1',
       'c1_desc', 'dly2', 'c2_1', 'c2_desc', 'dly3', 'c3_1', 'c3_desc', 'dly4',
       'c4_1', 'c4_desc', 'dly5', 'c5_1', 'c5_desc', 'dly6', 'c6_1', 'c6_desc',
       'dly7', 'c7_1', 'c7_desc', 'dly8', 'c8_1', 'c8_desc', 'remarks',
       'ttl_dep_dly', 'ttl_arr_dly', 'f_pax_rev', 'f_seats', 'j_pax_rev',
       'j_seats', 'y_pax_rev', 'y_seats', 'ttl_pax_pad', 'ttl_fd_crew',
       'ttl_cc_crew', 'ttl_ops_crew', 'ttl_pax_rev', 'ttl_seats',
       'ttl_infants', 'ib_connex_pax_total', 'ob_connex_pax_total',
       'lcl_joining_pax_ttl', 'lcl_term_pax_ttl', 'arr_fuel', 'dep_fuel',
       'cargo', 'mails', 'payload', 'bags_kgs', 'fuel_remaining',
       'arrival_fuel'],
      dtype='object')

In [3]:
## Drop useless columns
df.drop(columns=['ttl_infants', 'std_z_year'], inplace=True)

In [4]:
## Target
df['ttl_dep_dly'] = (df['atd_z_date_time'] - df['std_z_date_time']).apply(lambda x: x.total_seconds()/60)
df['ttl_arr_dly'] = (df['ata_z_date_time'] - df['sta_z_date_time']).apply(lambda x: x.total_seconds()/60)
df['otp'] = np.where(df['ttl_dep_dly'] > 15, 0, 1)
target = 'otp'

In [5]:
## organize features
dly = [x for x in df.columns if x.startswith(('dly', 'prim')) or x.endswith(('_1', '_desc'))]
num = [x for x in df.columns if df.dtypes[x] in ['float', 'int64', 'int32'] and x not in dly]
tim = [x for x in df.columns if x.endswith('date_time')]
cat = [x for x in df.columns if df.dtypes[x] == 'object' and x not in dly]
num.remove(target)

In [6]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=.2, random_state=0)

# Explore

In [11]:
corr = train.corr(numeric_only=True)

In [12]:
corr['ttl_dep_dly'].sort_values(ascending=False)

ttl_dep_dly            1.000000
ttl_arr_dly            0.895618
fuel_remaining         0.212099
y_pax_rev              0.173921
ttl_pax_rev            0.172315
lcl_joining_pax_ttl    0.165780
bags_kgs               0.147931
lcl_term_pax_ttl       0.145172
payload                0.118327
j_pax_rev              0.097317
ob_connex_pax_total    0.086413
ttl_ops_crew           0.082530
ttl_cc_crew            0.080551
j_seats                0.075312
ttl_seats              0.061603
y_seats                0.060285
arr_fuel               0.048382
block_difference       0.045848
ib_connex_pax_total    0.044244
ttl_fd_crew            0.033256
ttl_pax_pad            0.028306
distance               0.011879
dep_fuel               0.003067
mails                 -0.011997
cargo                 -0.016020
arrival_fuel          -0.018494
f_pax_rev             -0.019869
f_seats               -0.047778
otp                   -0.651926
dly5                        NaN
c5_1                        NaN
c5_desc                     NaN
dly6                        NaN
c6_1                        NaN
c6_desc                     NaN
dly7                        NaN
c7_1                        NaN
c7_desc                     NaN
dly8                        NaN
c8_1                        NaN
c8_desc                     NaN
Name: ttl_dep_dly, dtype: float64

# Notes