In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('/kaggle/input/airline/challenge.xlsx')

In [6]:
df.columns

Index(['schd_dep_date', 'flight_number', 'reg', 'fleet_family', 'sub_fleet',
       'sched_dep_iata', 'dep_country', 'dep_region', 'sched_arr_iata',
       'arr_region', 'std_z', 'std_z_date', 'std_z_date_time',
       'sta_z_date_time', 'etd_z_date_time', 'eta_z_date_time', 'atd_z',
       'atd_z_date', 'atd_z_date_time', 'ata_z_date_time', 'sched_block',
       'actual_block', 'block_difference', 'std_z_weekend', 'std_z_monthyear',
       'std_z_year', 'sta_z_weekend', 'distance', 'flight_type',
       'flight_category', 'prim_dly', 'prim_c', 'prim_c_desc', 'dly1', 'c1_1',
       'c1_desc', 'dly2', 'c2_1', 'c2_desc', 'dly3', 'c3_1', 'c3_desc', 'dly4',
       'c4_1', 'c4_desc', 'dly5', 'c5_1', 'c5_desc', 'dly6', 'c6_1', 'c6_desc',
       'dly7', 'c7_1', 'c7_desc', 'dly8', 'c8_1', 'c8_desc', 'remarks',
       'ttl_dep_dly', 'ttl_arr_dly', 'f_pax_rev', 'f_seats', 'j_pax_rev',
       'j_seats', 'y_pax_rev', 'y_seats', 'ttl_pax_pad', 'ttl_fd_crew',
       'ttl_cc_crew', 'ttl_ops_crew', 'ttl_pax_rev', 'ttl_seats',
       'ttl_infants', 'ib_connex_pax_total', 'ob_connex_pax_total',
       'lcl_joining_pax_ttl', 'lcl_term_pax_ttl', 'arr_fuel', 'dep_fuel',
       'cargo', 'mails', 'payload', 'bags_kgs', 'fuel_remaining',
       'arrival_fuel'],
      dtype='object')

In [11]:
df.dtypes.value_counts()

object            33
int64             24
float64           16
datetime64[ns]    12
dtype: int64

In [19]:
num = [x for x in df.columns if df.dtypes[x] in ('int64', 'float')]
cat = [x for x in df.columns if df.dtypes[x] == 'object']
dat = [x for x in df.columns if df.dtypes[x] == 'datetime64[ns]']

In [21]:
df.columns

Index(['schd_dep_date', 'flight_number', 'reg', 'fleet_family', 'sub_fleet',
       'sched_dep_iata', 'dep_country', 'dep_region', 'sched_arr_iata',
       'arr_region', 'std_z', 'std_z_date', 'std_z_date_time',
       'sta_z_date_time', 'etd_z_date_time', 'eta_z_date_time', 'atd_z',
       'atd_z_date', 'atd_z_date_time', 'ata_z_date_time', 'sched_block',
       'actual_block', 'block_difference', 'std_z_weekend', 'std_z_monthyear',
       'std_z_year', 'sta_z_weekend', 'distance', 'flight_type',
       'flight_category', 'prim_dly', 'prim_c', 'prim_c_desc', 'dly1', 'c1_1',
       'c1_desc', 'dly2', 'c2_1', 'c2_desc', 'dly3', 'c3_1', 'c3_desc', 'dly4',
       'c4_1', 'c4_desc', 'dly5', 'c5_1', 'c5_desc', 'dly6', 'c6_1', 'c6_desc',
       'dly7', 'c7_1', 'c7_desc', 'dly8', 'c8_1', 'c8_desc', 'remarks',
       'ttl_dep_dly', 'ttl_arr_dly', 'f_pax_rev', 'f_seats', 'j_pax_rev',
       'j_seats', 'y_pax_rev', 'y_seats', 'ttl_pax_pad', 'ttl_fd_crew',
       'ttl_cc_crew', 'ttl_ops_crew', 'ttl_pax_rev', 'ttl_seats',
       'ttl_infants', 'ib_connex_pax_total', 'ob_connex_pax_total',
       'lcl_joining_pax_ttl', 'lcl_term_pax_ttl', 'arr_fuel', 'dep_fuel',
       'cargo', 'mails', 'payload', 'bags_kgs', 'fuel_remaining',
       'arrival_fuel'],
      dtype='object')

In [23]:
df['bags_kgs']

0      9105
1      1689
2         0
3       886
4      6771
       ...
995    5157
996    4390
997       0
998    4965
999    4006
Name: bags_kgs, Length: 1000, dtype: int64

######